<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title"
                        value="<%=campground.title%>" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please input a title.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location"
                        value="<%=campground.location%>" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please provide a valid location.</div>

                </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" id="price" name="campground[price]"
                            value="<%=campground.price%>" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please provide a valid price.</div>

                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Add more images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        required><%=campground.description%></textarea>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please tell us a little bit about this place.</div>

                </div>
                <div class="mb-3">
                    <% campground.images.forEach(function(img, i) { %>
                        <img src="<%=img.thumbnail%>" alt="" class="img-thumbnail">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                        <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Update Campgound</button>
                </div>
            </form>
            <a href="/campgrounds/<%=campground._id%>">Back to Campground</a>
        </div>
    </div>